{% extends 'base.html' %}
{% block content %}
    <h2>About</h2>
    <p>The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's
        interest in recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely
        Mountain when Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in
        the Shire, Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to
        force. Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from
        rash action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned
        to leave on other business, welcomed a fourteenth to fill into their party.</p>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>In the year TA 2746, Thorin II was born to Dwarven prince Thráin II in the mountain city of The Lonely
                Mountain. Early in his youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the
                dragon Smaug in TA 2770. While in exile, he quickly grew to become a capable warrior. This was
                demonstrated when he participated in the Battle of Azanulbizar in TA 2799. He marched with one of the
                Dwarven armies beneath the East-gate of Moria. At some point in the fighting, his shield broke, and
                using an oaken tree branch found on the floor as a shield, he gained the epithet "Oakenshield," which
                would remain with him even in death.</p>
        </div>
        <div class="col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/en/e/ed/Thorin%2C_from_the_Hobbit.jpg" alt="Thorin Portrait">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg/revision/latest?cb=20110714202952" alt="Fili & Kili Portrait">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also
                nephews of Frerin, grandsons of Thráin II, and great-grandsons of Thror. Fíli's most distinguishing
                feature was his long nose, the longest of any of the Dwarves on the Quest of Erebor.</p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Oin</h3>
            <p>Óin was the older brother of Glóin, cousin of Dwalin and Balin, and uncle of Gimli. He usually wore a brown-hooded cloak when travelling. Óin fought in the Battle of Azanulbizar along with Thorin Oakenshield, and in TA 2941 joined with Thorin and Company on the quest to reclaim the Lonely Mountain wearing a brown hood.</p>
        </div>
        <div class="col-md-5">
            <img src="http://images6.fanpop.com/image/polls/1474000/1474430_1430700467491_full.png?v=1430700473" alt="Oin Portrait">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://i.pinimg.com/originals/a9/60/ab/a960ab103956bb2e8f6cb36bb258041c.png" alt="Gloin Portrait">
        </div>
        <div class="col-md-7">
            <h3>Gloin</h3>
            <p>In TA 2799, Glóin was known to have fought in the Battle of Azanulbizar, the last battle of the War of the Dwarves and Orcs. In TA 2941, Glóin and his brother Óin, along with his cousins Dwalin and Balin, were among the Dwarves accompanying Thorin and Company during their quest to the Lonely Mountain to recapture The Kingdom of Erebor from the Dragon Smaug. He was noted for his skills with a tinderbox, and, along with his brother Óin, was usually the one told to get a fire started whenever the Dwarves made camp.</p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Balin</h3>
            <p>Balin was likely born in the Lonely Mountain before the coming of the dragon Smaug. He had a younger brother named Dwalin, and was amongst those driven from their homes when Smaug attacked the Lonely Mountain. Afterwards, he may have lived in Dunland as a refugee, before fighting in the War of the Dwarves and Orcs which culminated in the Battle of Azanulbizar. Many years later, in approximately TA 2841, he accompanied Thráin II, the father of Thorin, when he attempted to go back to the Lonely Mountain himself, but Thráin was captured and lost.</p>
        </div>
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/5/52/Balin.jpg/revision/latest?cb=20120911171656" alt="Balin Portrait">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/1/1c/Dwalin.jpg/revision/latest?cb=20120911200601" alt="Dwalin Portrait">
        </div>
        <div class="col-md-7">
            <h3>Dwalin</h3>
            <p>Dwalin was one of seven of the ten Dwarves of Thorin's company who were still living in Erebor when Frodo came to Rivendell, as reported by Glóin. After the War of the Ring was over, resulting the defeat of Sauron and the destruction of the One Ring, Dwalin lived throughout his life in the Fourth Age in Middle-earth and passed away in FO 91 at the age of 340, considered later than any other known date of death for others of Thorin and Company.</p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Ori</h3>
            <p>Ori lived in Thorin's Halls in the northern Blue Mountains for many years. In the year TA 2941, Ori became a member of Thorin's Company and travelled with Thorin, Gandalf, Bilbo Baggins, and the other dwarves on the quest for the Lonely Mountain, culminating in the death of Smaug. Finally, he and the other dwarves of Thorin's Company fought in the Battle of the Five Armies, and he survived it.</p>
        </div>
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/8/81/Ori.jpeg/revision/latest?cb=20130205205637" alt="Ori Portrait">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://vignette.wikia.nocookie.net/lotr/images/2/2e/07_dori-copy.jpeg/revision/latest?cb=20130202173609" alt="Dori Portrait">
        </div>
        <div class="col-md-7">
            <h3>Dori</h3>
            <p>It fell to Dori to carry Bilbo Baggins in the tunnels of the Misty Mountains during the escape from the Goblins, but Dori dropped Bilbo, and the other Dwarves and Gandalf blamed him for "losing their burglar." Later, during their escape from the Wargs and Orcs, Dori helped Bilbo climb a tree to get away from the wargs. Bilbo shortly thereafter saved Dori by grabbing his legs as they were rescued by the Great Eagles and taken to their eyrie in the Misty Mountains.</p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Nori</h3>
            <p></p>
        </div>
        <div class="col-md-5">
            <img src="" alt="Nori Portrait">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="" alt="Bifur Portrait">
        </div>
        <div class="col-md-7">
            <h3>Bifur</h3>
            <p></p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h3>Bofur</h3>
            <p></p>
        </div>
        <div class="col-md-5">
            <img src="" alt="Bofur Portrait">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="" alt="Bombur Portrait">
        </div>
        <div class="col-md-7">
            <h3>Bombur</h3>
            <p></p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="" alt="Gandalf Portrait">
        </div>
        <div class="col-md-7">
            <h3>Gandalf</h3>
            <p></p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="" alt="Bilbo Portrait">
        </div>
        <div class="col-md-7">
            <h3>Bilbo</h3>
            <p></p>
        </div>
    </div>
{% endblock %}